.contact-container{
    background-color: #2E4756;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact-title{
    color: #DBC2CF;
    font-size: 44px ;
    font-family: 'Lobster';
}

.socials-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    gap: 200px;
    padding-top: 50px;
}

.cont-icon img{
    width: 150px;
    height: 100px;
    object-fit:contain;
    /* background-color: #2E4756; */
    /* color:#2E4756; */
    /* mix-blend-mode:multiply;
    filter: contrast(1); */
    cursor: pointer;
}

.display-socials{
    color: #dbc2cf;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

